h3
  | forgot password
  form(action='/forgot', method='post' )
    | email :
    input(type='text', name='email')
    input(type='submit', value='send')

h3
  | reset password
  form(action='/reset', method='post' )
    | link :
    input(type='text', name='link')
    | new password :
    input(type='password', name='newpass')
    input(type='submit', value='reset')